html, body {
  height: 100%;
  width: 100%;
	background-color: #a770f9;
	color: #ffffff;
}

.body-element {
	/*border: 3px solid blue;*/
}

/* Menu bar stuff */
menu, ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 0px;
  background-color: #a770f9;
}

li {
  flex-grow: 1;
}

button {
  width: 100%;
}

/* The div containing the head elements, i.e. 'title' */
/*#head-container {
	/* Temporary, let's me see what the format is doing 
	border: 3px solid blue;
}*/

/* Contains the title text at the top of the page */
#title {
	text-align: center;
	vertical-align: center;
}